*
{
  margin: 0;
  padding: 0;
  
}

table{
    width: 200px;
    margin: 0 auto;
    border-top: 2px solid rgb(0, 223, 71);
    border-bottom: 2px solid rgb(0, 223, 71);
    border-left: 2px solid rgb(180, 180, 180);
    border-right: 2px solid rgb(180, 180, 180);
    text-align: center;
}

.basic{
   height: 45px;
   text-align: center;
   color: rgb(0, 223, 71);  
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.price{
    height: 30px;
    margin: 0px;
    background:rgb(0, 223, 71);
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.opt{
    color: rgb(120, 120, 120);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: x-small;
    height: 25px;
}

.pur{
    border: 1px solid rgb(0, 223, 71);
    border-radius: 3px;
    font-size:small;
    color:  rgb(0, 223, 71);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px ;
}

.chase{
    height: 60px;
}