
.container {
    width: 300px;
    color: rgb(146, 146, 146);
    font-family: Sans-serif;
   
   }

.r1{
    border-color: #118d6c;
    border-style: solid;
}
.r2{
    border-color: #d68f1d;
    border-style: solid;
}
.r3{
    border-color: #912a26;
    border-style: solid;
}

.block {
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   
.color{
     height: 45px;
   }
   
.g1{
     background-color:#118868;
     color: #ffffff;
     height: 10px;
     font-size: 20px;
   }

   .g2{
    background-color:#d68e1b;
    color: #ffffff;
    height: 10px;
    font-size: 20px;
  }

  .g3{
    background-color:#8a2925;
    color: #ffffff;
    height: 10px;
    font-size: 20px;
  }

.a1{
     color: #ffffff;
     height: 70px;
     font-size: 20px;
     background-color: #139e85;
   }
.a2{
    color: #ffffff;
    height: 70px;
    font-size: 20px;
    background-color: #ee9911;
  }
.a3{
    color: #fdfffe;
    height: 70px;
    font-size: 20px;
    background-color: #bd3627;
  }
   
.l{
     height: 100px;
   }
   
.button1 {
     display: inline-block;
     width: 150px;
     height: 40px;
     color: #ffffff;
     background-color: #17a58b;
     text-align: center;
     padding-top: 20px;
   }
   .button2 {
    display: inline-block;
    width: 150px;
     height: 40px;
    color: #ffffff;
    background-color: #eb960d;
    text-align: center;
    padding-top: 20px;
  }
  .button3 {
    display: inline-block;
    width: 150px;
     height: 40px;
    color: #ffffff;
    background-color: #c23526;
    text-align: center;
    padding-top: 20px;
  }
   
.float{
    float: left;
    width: 400px;
   }

.q{
    font-size: 30px;
}

