*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    
}

a:active{
    color: #222222;
}

a:visited{
    color: #222222;
}

body{
    background-color: #EAEAEE;

}


/*Меню*/

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #EAEAEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}

header .brand{
    font-size: 20px;
    color: #222222;
    font-family:Oswald;
}

header .brand:hover{
    transform: scale(1.2);
    transition: .2s;
}

.donate{
    color: #7247CA;
}

.heart{
    color: #7247CA;
    font-size: 15px; 
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    padding: 40px;
    font-size: 15px;
    display: block;
}

header nav ul li a:hover{
    transform: scale(1.1);
    transition: .1.5s;
}

nav{
    font-family: "Source Serif Pro SemiBold";
    text-transform: uppercase;
}

nav ul li ul{
    position: absolute;
    left: 0;
    width: 160px;
    background: #EAEAEE;
    display: none;
}

nav ul li ul li:hover{
    background-color: #a2a2ac10;
}

nav ul li ul li {
    width: 100%;
    text-align: center;
    border:1px solid rgba(0,0,0,.1)
}

nav ul li:hover > ul{
    display: initial;
}

/*Кнопка пошуку*/

.search-box{
    color: palevioletred;
    transform: translate(-50%,50%);
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    color: #222222;
    float: right;
    border-radius: 50px;
    background: #EAEAEE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-box:hover > .search-txt
{
    width: 240px;
    padding: 20px 6px;
}

.search-box:hover > .search-btn
{
    background: blue;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #222222;
    font-size: 15px;
    transition: 0.4s;
    width: 0px;
    transition: 0.4s;
}
